<p>Now is <%= Time.now %><p>

<% categories = [ 'japanese', 'indian', 'french' ] %>

<h2>Find lots of restaurants</h2>
<ol>
<% categories.each do |category| %>
  <li><%= category.capitalize %></li>
<% end %>
</ol>