<p>Now is <%= Time.now %><p>

<h2>Find lots of restaurants</h2>
<ul>
  <% @restaurants.each do |id, restaurant| %>
    <li><%= link_to restaurant[:name], restaurant_path(id) %> (<%= restaurant[:address] %>)</li>
  <% end %>
</ul>